<mat-toolbar color="primary">

  <a routerLink="/" id="home-nav" style="margin-left: 0.1%;" ><mat-icon [ngStyle]="{'color':'white'}">local_hospital</mat-icon></a>
  <span>Hospital application</span>
  <span style="padding-left: 2%;">
    <button (click)="router.navigate(['manage-certificates/request-certificate']);" mat-button>Request certificate</button>
  </span>
  <span style="padding-left: 2%;">
    <button (click)="router.navigate(['manage-certificates']);" mat-button>Manage certificates</button>
  </span>
  <span style="padding-left: 2%;">
    <button (click)="router.navigate(['patients']);" mat-button>Patients</button>
  </span>
  <span style="padding-left: 2%;">
    <button (click)="router.navigate(['messages']);" mat-button>Messages</button>
  </span>
  <span style="width: 80%"></span>
  <a routerLink="/" style="margin-left: 0.5%;" ><mat-icon (click)="logOutUser()" [ngStyle]="{'color':'white'}">exit_to_app</mat-icon></a>

</mat-toolbar>
