<mat-toolbar color="primary">

  <a routerLink="/" id="home-nav" style="margin-left: 1%;margin-right: 0.5%;" ><mat-icon [ngStyle]="{'color':'white'}">local_hospital</mat-icon></a>
  <span>Hospital application</span>

  <span class="example-spacer" style="width: 75%"></span>
  <span style="padding-left:5%" class="example-spacer"> </span>
  <a routerLink="/" style="margin-left: 5%;" ><button mat-flat-button color="primary" (click)="logOutUser()" ><mat-icon [ngStyle]="{'color':'white'}">
    login</mat-icon></button></a>
</mat-toolbar>
