<mat-card style="width: 50%;margin-left:25%; margin-top: 5%">
    <mat-card-title style="text-align:center">Create certificate request</mat-card-title>
    <form [formGroup]="this.formData">
        <mat-card style="margin-bottom: 2%;">
            <mat-card-title style="margin-bottom: 5%;">Basic info</mat-card-title>
            <mat-form-field appearance="outline" style="width: 30%">
                <mat-label>Common name</mat-label>
                <input matInput formControlName="commonName" readonly>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 30%;margin-left: 5%">
                <mat-label>First name</mat-label>
                <input matInput formControlName="givenName" readonly>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 30%;margin-left: 5%">
                <mat-label>Last name</mat-label>
                <input matInput formControlName="surname" readonly>
            </mat-form-field>
        </mat-card>
        <mat-card style="margin-bottom: 2%;">
            <mat-card-title style="margin-bottom: 5%;">Certificate info</mat-card-title>
            <mat-form-field appearance="outline" style="width: 30%">
                <mat-label>Organization</mat-label>
                <input matInput formControlName="organization" >
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 30%;margin-left: 5%">
                <mat-label>Organization unit</mat-label>
                <input matInput formControlName="organizationUnit" >
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 30%;margin-left: 5%">
                <mat-label>Country</mat-label>
                <input matInput formControlName="country" >
            </mat-form-field>
        </mat-card>
        <div fxLayout="row" fxLayoutAlign="end center">
            <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">Sending...</p>
            </ngx-spinner>
            <button (click)="sendRequest()" [disabled]="this.formData.invalid" mat-raised-button color="primary">Send</button>
        </div>
    </form>
</mat-card>


